#theme-menu {
    display: flex;
    flex-flow: row wrap;
}

select {
    width: 350px;
    height: 50px;
    padding-left: 5px;
}

#themes-select {
    font-size: 24px;
}

option {
    font-size: larger;
}

#nameInput {
    letter-spacing: normal;
    width: 350px;
    text-align: left;
    margin-top: 20px;
    padding-left: 5px;
}

#theme-menu .btn {
    width: fit-content;
    margin: 0;
    border-color: blue;
}

#theme-menu__delete {
    margin-top: 20px;
    border-color:saddlebrown;
}